<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Populares</title>
</head>

<body>
  <!-- Jumbotron -->
  <div class="jumbotron text-center">
     <h1 class="display-4">Popular Movies</h1>
 </div>
 <!-- Fin Jumbotron-->
 <!-- Componente de películas -->
 <div *ngIf="popularMovies.length" class="row" >
    <app-movie *ngFor="let movie of popularMovies" [movie]="movie" class="col-4"></app-movie>
</div>