  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cartelera</title>
  </head>

  <body>
     <!-- Jumbotron -->
     <div class="jumbotron text-center">
        <h1 class="display-4">Now Playing Movies</h1>
        <p class="lead">Now Playing movies for the day <strong>{{ dateToday }}</strong></p>
    </div>
    <!-- Películas con card-->
    <div *ngIf="nowPlayingMovies.length" class="row" >
        <app-movie *ngFor="let movie of nowPlayingMovies" [movie]="movie" class="col-4"></app-movie>
    </div>

  </body>
  </html>
  